body {
  
  background: image-url("http://upload.wikimedia.org/wikipedia/commons/4/4a/To_do_list.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: "Titillium Web";
  color: #FFFFFF;

}